@import "tailwindcss";

@theme {
  --color-primary: #1a365d;
  --color-secondary: #c53030;
  --color-accent: #f6ad55;
  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    @apply antialiased text-gray-800 bg-gray-50;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-primary;
  }
}

.container {
  @apply max-w-7xl mx-auto px-4;
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

.animate-marquee-vertical {
  animation: marquee-vertical 15s linear infinite;
}

.animate-marquee-vertical:hover {
  animation-play-state: paused;
}